<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="false"
		 testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
	<php>
		<ini name="memory_limit" value="2048M"/>
		<ini name="max_execution_time" value="-1"/>
		<const name="INSPHARE_TESTS" value="true"/>
	</php>
	<groups>
		<exclude>
			<group>slow</group>
			<group>createsFatalError</group>
		</exclude>
	</groups>

	<testsuites>
		<testsuite name="tests">
			<directory>test</directory>
		</testsuite>
	</testsuites>
</phpunit>
